@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
#root,
body {
  overflow: hidden;
}
