.card-editor::after {
  content: "";
  visibility: visible;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  position: absolute;
  width: 6px;
  left: -1px;
  top: -1px;
  bottom: -1px;
  will-change: filter;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: linear-gradient(133.42deg, rgb(255, 255, 255) -8.59%, rgba(255, 255, 255, 0) 128.85%);
  filter: drop-shadow(rgba(255, 255, 255, 0.8) 0px -2px 4px);
}
